<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Selamatkan Kami!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="tanaman.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="tanaman.js"></script>
  </head>
  <body>
    <header>
      <h1>Bantu siram tanaman ini!</h1>
    </header>
    <section id="taman">
      <p>Anda sudah menyiram <span id="jumlah">0</span> tanaman!</p>
      <div id="plant-container">
        <img src="fig/tanaman_mati.png" alt="Tanaman kering">
        <img src="fig/tanaman_mati.png" alt="Tanaman kering">
        <img src="fig/tanaman_mati.png" alt="Tanaman kering">
        <img src="fig/tanaman_mati.png" alt="Tanaman kering">
        <img src="fig/tanaman_mati.png" alt="Tanaman kering">
        <img src="fig/tanaman_mati.png" alt="Tanaman kering">
        <img src="fig/tanaman_mati.png" alt="Tanaman kering">
        <img src="fig/tanaman_mati.png" alt="Tanaman kering">
        <img src="fig/tanaman_mati.png" alt="Tanaman kering">
        <img src="fig/tanaman_mati.png" alt="Tanaman kering">
        <img src="fig/tanaman_mati.png" alt="Tanaman kering">
        <img src="fig/tanaman_mati.png" alt="Tanaman kering">
      </div>
    </section>
  </body>
</html>
