h1{
    color: darkgreen ;
    border-bottom: 5px dotted darkgreen;
}
h2{
    font-style: italic ;
    border block-size: ;
}
ul{
    border: 2px solid black;
    background-color: lightgrey;
    padding: 20px;
}