.close-btn {
    position:absolute;
    top: 5px;
    right: 150px;
    color: white;
    cursor: pointer;
}
.col-md img{
    width: 1110px;
 
}
ul li{
    font-size:small;
}
.rubah-warna{
    color: violet !important;
    
}
.nav-link:hover{
    color: orange !important; 
}
.custom-abu{
    color: gray !important;
}
.navbar-brand img{
height: 40px !important;
width: 120px !important;
}
.btn{
    background-color:orange !important;
    color: aliceblue !important;
}
.test{
   width: 30px;
}
.pertama{
    display: flex;
   padding: 5px !important;
   list-style-type: none;
}
.spasi{
    padding-left: 70px;
    color: black;
}
.jam{
    padding: 8px;
    background-color: orangered;
    color: white;
}
.jamm{
    padding: 8px;
    background-color: orangered;
    color: white;
}
.jammm{
    padding: 8px;
    background-color: orangered;
    color: white;
}
.tekss{
    color: orangered;
}
.titik{
    color: black;
}
.container .belanja-teks{
    color: orangered !important;
    text-decoration: none !important;
}
.card-img-top{
    height: 180px !important;
    width: 150px !important;
}

.flash-sale .card{
    /* width: 166px !important; */
}
.flash-sale .card-text{
    width: 155px !important;
}
.flash-sale .card:hover{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
              
}
.col-md-2 .gaya{
    height: 185px !important;
    width: 179px !important;
}
.card-body .foto-kecil{
    height: 50px !important;
   
    position: absolute !important;
    /* background-color: white;
    border: 2px;
    border-color: blueviolet; */
    top: 148px;
    left: 60px;
}
.col-md-2 .card:hover{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
/* .col-md .foto-kategori{
    height: 100px;
    width: 100px;
} */
.d-flex .gambar-kategori{
   padding-top: 25px;
   padding-left: 22px;
   padding-right: 22px;
}
.d-flex .kategori-foto{
    height: 90px;
    width: 100px;
}
.d-flex .gambar-kategori:hover{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.col-md-4 .foto-footer{
    height: 91px;
    
}
.card .foto-lazada{
    height: 80px !important;
}
.warna-orange{
    color: orangered !important;
}
.background-orange{
    background-color: orangered !important;
    background-position: cover;
}