.navbar-brand img{
    height: 40px !important;
    width: 120px !important;
    }
    .btn{
        background-color:orange !important;
        color: aliceblue !important;
    }

    .container .gambar-lazada{
        height: 40px !important;
        width: 120px !important;
       
    }
    .gaya-satu{
        padding-top: 50px !important;
        padding-left: 190px !important;
    }
    